<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YOU ARE IN POLYGON¿?</title>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript">
        var map;
        document.addEventListener('DOMContentLoaded', function () {

            DG.then(function () {
                const map = DG.map('map', {
                    center: [0, 0],
                    zoom: 1
                });

                const polygonCoord = '{{ polygon.poly.wkt }}'
                const polygon = DG.Wkt.geoJsonLayer(polygonCoord).addTo(map);

                // zoom the map to the polygon
                map.fitBounds(polygon.getBounds());

                map.on('click', function (e) {
                    console.log(e.latlng.lat, e.latlng.lng)

                    const formData = new FormData()
                    formData.append('x', e.latlng.lng)
                    formData.append('y', e.latlng.lat)
                    formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
                    fetch("{% url 'polygon' pk=polygon.id %}", {
                        method: "POST",
                        credentials: "same-origin",
                        body: formData
                    }).then(response => response.json()).then(
                        response => {
                            console.log(response)
                            if (response.in_polygon)
                                Swal.fire({
                                    position: 'top-end',
                                    toast: true,
                                    title: 'Nice!',
                                    text: 'Do you want to click more?',
                                    icon: 'success',
                                    confirmButtonText: 'YES!'
                                })
                            else
                                Swal.fire({
                                    position: 'top-end',
                                    toast: true,
                                    title: 'Error!',
                                    text: 'Do you want to try again?',
                                    icon: 'error',
                                    confirmButtonText: 'Okay :('
                                })
                        }
                    )
                });
            });
        })
    </script>
</head>
<body>
<div id="map" style="width:100vw; height:100vh"></div>
</body>
</html>